---
---

@import 'syntax';
/*css taken from http://jgthms.com/web-design-in-4-minutes/*/
body {
  margin: 0 auto;
  max-width: 50em;
}
body {
  font-family: "Georgia", serif;
}

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

body {
  color: #555;
}

h1,
h2,
strong {
  color: #333;
}




a {
  color: #e81c4f;
}

body {
  color: #566b78;
}

img{
  max-width: 100%;
}

code,
pre {
  // background: #f5f7f9;
  /*border-bottom: 1px solid #d8dee9;*/
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #69c;
  padding: 1em;
}

footer{
  padding-top:4em;
  font-size: 0.8em;
}
// ---
//
.block {
  border-bottom: 2px dotted #69c;
  min-height: 144px;
  img{
    margin-right: 20px;
    margin-left: 20px;
    float: left;
  }
}